

<section>

    <div class="container">
      <div class="row">

        <div class="column" id="footer-left">
          <div class="row">
            <div id="footer-logo">
              <img src="assets/images/logo.png" />
            </div>
            <div id="legal">Copyright 2013 | Fox Boxes</div>
          </div>
        </div>

        <div class="column" id="footer-right">
          <div class="row">
            <div id="footer-email"><a href="mailto:shopfoxboxes@gmail.com">shopfoxboxes@gmail.com</a></div>
            <div id="footer-social">
              <div class="footer-social-item" id="fb">fb</div>
              <div class="footer-social-item" id="tw">tw</div>
              <div class="footer-social-item" id="pn">pn</div>
              <div class="footer-social-item" id="in">in</div>
            </div>

            <div id="footer-form">
              <form id="emf-form" target="_blank" enctype="multipart/form-data" method="post" action="http://www.emailmeform.com/builder/form/L5qS0mAyxu30CTo64e">
                <div class="form-element" id="form-label">Drop us a line</div>
                <div class="form-element" id="form-name">
                  <input id="element_0" name="element_0" class="validate[required]" type="text" placeholder="Tell us your name"/>
                </div>

                <div class="form-element" id="form-email">
                  <input id="element_1" name="element_1" class="validate[required,custom[email]]" type="text" placeholder="Tell us your email"/>
                </div>

                <div class="form-element" id="form-message">
                  <textarea id="element_2" name="element_2" class="validate[required] " placeholder="What's your message?"></textarea>
                </div>

                <input name="element_counts" value="3" type="hidden" />
                <input name="embed" value="forms" type="hidden" />

                <div class="form-element" id="form-send">
                  <input value="Send" type="submit" />
                </div>
              </form>
            </div>
          </div>
        </div>
        
      </div>
    </div>


</section>


<div class="clear"></div>


